{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}

<h2>Autorizações Exceções</h2>

<h3>Solicitações de Teletrabalho para Cargos de Chefia/Direção</h3>


<h4>Pendentes</h4>

{% for autorizacao in autorizacoes %}
{% if not autorizacao.aprovado_gabinete %}
    <li>{{ autorizacao }} - [{{ autorizacao.aprovado_gabinete }}] - <a href="{% url 'webapp:autorizacao_excecao_edit' autorizacao.pk %}">editar</a> - <a href={% url 'webapp:autorizacao_excecao_delete' autorizacao.pk %}>excluir</a></li>        
{% endif %}
{% endfor %}

<h4>Aprovados</h4>

{% for autorizacao in autorizacoes %}
    {% if autorizacao.aprovado_gabinete %}
        <li>{{ autorizacao }} - [{{ autorizacao.aprovado_gabinete }}] - <a href="{% url 'webapp:autorizacao_excecao_edit' autorizacao.pk %}">editar</a> - <a href={% url 'webapp:autorizacao_excecao_delete' autorizacao.pk %}>excluir</a></li>        
    {% endif %}
{% endfor %}

<h4>Reprovados</h4>

<ul>
    {% for autorizacao in autorizacoes %}
        {% if autorizacao.aprovado_gabinete == 'reprovado' %}
        <li>{{ autorizacao }} - [{{ autorizacao.aprovado_gabinete }}] - <a href="{% url 'webapp:autorizacao_excecao_edit' autorizacao.pk %}">editar</a> - <a href={% url 'webapp:autorizacao_excecao_delete' autorizacao.pk %}>excluir</a></li>        
        {% endif %}
    {% endfor %}
</ul>

{% endblock%}