{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}

<div class="content">

    <h2 class="title is-2">Análisar Solicitações de Teletrabalho para Chefias</h2>
    
    <h3 class="title is-4">Solicitações Cadastradas</h3>
    
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Unidade</th>
                <th>Setor</th>
                <th>Servidor</th>
                <th>Posto de Trabalho</th>
                <th>Analisar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for autorizacao in autorizacoes %}
                <tr>
                    <td><a href={% url "webapp:download_docx" "autorizacao-excecao" autorizacao.id %}>{{ autorizacao.id }}</a></td>
                    <td>{{ autorizacao.declaracao.manifestacao.lotacao_servidor.posto_trabalho.setor.unidade }}</td>
                    <td>{{ autorizacao.declaracao.manifestacao.lotacao_servidor.posto_trabalho.setor.nome }}</td>
                    <td>{{ autorizacao.declaracao.manifestacao.lotacao_servidor.servidor }}</td>
                    <td>{{ autorizacao.declaracao.manifestacao.lotacao_servidor.posto_trabalho.posto }}</td>
                    <td>{% if autorizacao.aprovado_gabinete == 'aprovado' %}ACEITA{% elif autorizacao.aprovado_gabinete == 'reprovado' %}NÃO ACEITA{% else %}<a href={% url 'webapp:autorizacao_excecao_edit' autorizacao.pk %}>ANALISAR</a>{% endif %}</td>
                    <td>{% if autorizacao.aprovado_gabinete == 'aprovado' %}X{% elif autorizacao.aprovado_gabinete == 'reprovado' %}X{% else %}<a href={% url 'webapp:autorizacao_excecao_edit' autorizacao.pk %}><a href="{% url 'webapp:autorizacao_excecao_delete' autorizacao.pk %}">deletar</a></a>{% endif %}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</div>

{% endblock%}