{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}

<h2>Avaliações Chefia Imediata</h2>

<h3>Avaliações Pendentes</h3>
<ul>
    {% for avaliacao in avaliacoes_chefia %}
        {% if not avaliacao.atestado_cumprimento_metas %}
            <li>{{ avaliacao.encaminhamento_avaliacao_cigt.ano_avaliacao }}/{{ avaliacao.encaminhamento_avaliacao_cigt.mes_avaliacao }} - <a href="{% url 'webapp:avaliacao_chefia_edit' avaliacao.pk %}">{{ avaliacao }}</a></li>    
        {% endif %}
    {% endfor %}
</ul>

<h3>Avaliações Realizadas</h3>
<ul>
    {% for avaliacao in avaliacoes_chefia %}
        {% if avaliacao.atestado_cumprimento_metas %}
            <li>{{ avaliacao.encaminhamento_avaliacao_cigt.ano_avaliacao }}/{{ avaliacao.encaminhamento_avaliacao_cigt.mes_avaliacao }} - <a href="{% url 'webapp:avaliacao_chefia_edit' avaliacao.pk %}">{{ avaliacao }}</a></li>    
        {% endif %}
    {% endfor %}
</ul>
{% endblock%}