{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}
<div class="content">

    <h2 class="title is-2">Chefia - Manifestacação de Interesse </h2>
    
    <h3 class="title is-4">Manifestações Cadastradas</h3>
    
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Unidade</th>
                <th>Setor</th>
                <th>Servidor</th>
                <th>Posto de Trabalho</th>
                <th>Analisar</th>
            </tr>
        </thead>
        <tbody>
            {% for manifestacao in manifestacoes_subordinados %}
                <tr>
                    <td><a href={% url "webapp:download_docx" "manifestacao" manifestacao.id %}>{{ manifestacao.id }}</a></td>
                    <td>{{ manifestacao.lotacao_servidor.posto_trabalho.setor.unidade }}</td>
                    <td>{{ manifestacao.lotacao_servidor.posto_trabalho.setor.nome }}</td>
                    <td>{{ manifestacao.lotacao_servidor.servidor.user.nome }}</td>
                    <td>{{ manifestacao.lotacao_servidor.posto_trabalho.posto }}</td>
                    <td>{% if manifestacao.aprovado_chefia == 'aprovado' %}ACEITA{% elif manifestacao.aprovado_chefia == 'reprovado' %}NÃO ACEITA{% else %}<a href={% url 'webapp:manifestacao_interesse_aprovado_chefia' manifestacao.pk %}>ANALISAR</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
    
</div>

{% endblock %}