{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}
<div class="content">

    <h2 class="title is-2">Chefia - Analisar Planos de Trabalho </h2>
    
    <h3 class="title is-4">Planos de Trabalho Cadastrados</h3>
    
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Posto de Trabalho</th>
                <th>Servidor</th>
                <th>Analisar (Chefia)</th>
                <th>Aprovado (CIGT)</th>
            </tr>
        </thead>
        <tbody>
            {% for plano_trabalho in planos_trabalho %}
                <tr>
                    <td><a href={% url "webapp:download_docx" "plano-trabalho" plano_trabalho.id %}>{{ plano_trabalho.id }}</a></td>
                    <td>{{ plano_trabalho.manifestacao.lotacao_servidor.posto_trabalho }}</td>
                    <td>{{ plano_trabalho.manifestacao.lotacao_servidor.servidor }}</td>
                    <td>{% if plano_trabalho.aprovado_chefia == 'aprovado' %}ACEITA{% elif plano_trabalho.aprovado_chefia == 'reprovado' %}NÃO ACEITA{% else %}<a href={% url 'webapp:plano_trabalho_aprovado_chefia' plano_trabalho.pk %}>ANALISAR</a>{% endif %}</td>
                    <td>{% if plano_trabalho.aprovado_cigt == 'aprovado' %}SIM{% elif plano_trabalho.aprovado_cigt == 'reprovado' %}NÃO{% else %}PENDENTE{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>  
    
</div>

{% endblock %}