{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}
<div class="content">

    <h2 class="title is-2">Chefia - Avaliações Mensais </h2>
    
    <h3 class="title is-4">Avaliações Cadastradas</h3>
    
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ano</th>
                <th>Mês</th>
                <th>Unidade</th>
                <th>Setor</th>
                <th>Servidor</th>
                <th>Função</th>
                <th>Posto de Trabalho</th>
                <th>Analisar</th>
            </tr>
        </thead>
        <tbody>
            {% for avaliacao in avaliacoes_chefia %}
                <tr>
                    <td><a href={% url "webapp:download_docx" "avaliacao" avaliacao.id %}>{{ avaliacao.id }}</a></td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.ano_avaliacao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.mes_avaliacao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.unidade }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.setor }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.servidor }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.funcao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.posto_trabalho }}</td>
                    <td><a href={% url "webapp:avaliacao_atividades_list" avaliacao.pk %}>{% if avaliacao.atestado_cumprimento_metas == '1' %}CUMPRIMENTO INTEGRAL{% elif avaliacao.atestado_cumprimento_metas == '2' %}CUMPRIMENTO PARCIAL{% elif avaliacao.atestado_cumprimento_metas == '3'%}NÃO CUMPRIDA{% else %}AVALIAR{% endif %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
    
</div>

{% endblock %}