{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}

<h2 class="title is-2">Avaliações</h2>

<div class="field">
    <div class="control">
        <button class="button is-light"><a href={% url "webapp:encaminhar_avaliacoes_cigt" %}>Encaminhar/Verificar Avaliações Mensais</a></button>
    </div>
</div>

<h3 class="title is-4">Avaliações Pendentes</h3>

<table class="table is-striped is-hoverable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ano</th>
            <th>Mês</th>
            <th>Unidade</th>
            <th>Setor</th>
            <th>Servidor</th>
            <th>Função</th>
            <th>Posto de Trabalho</th>
        </tr>
    </thead>
    <tbody>
        {% for avaliacao in avaliacoes %}
            {% if not avaliacao.atestado_cumprimento_metas %}
                <tr>
                    <td>{{ avaliacao.id }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.ano_avaliacao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.mes_avaliacao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.unidade }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.setor }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.servidor }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.funcao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.posto_trabalho }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<h3 class="title is-4">Avaliações Realizadas</h3>

<table class="table is-striped is-hoverable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ano</th>
            <th>Mês</th>
            <th>Unidade</th>
            <th>Setor</th>
            <th>Servidor</th>
            <th>Função</th>
            <th>Posto de Trabalho</th>
        </tr>
    </thead>
    <tbody>
        {% for avaliacao in avaliacoes %}
            {% if avaliacao.atestado_cumprimento_metas %}
                <tr>
                    <td><a href={% url "webapp:avaliacao_atividades_list" avaliacao.pk %}>{{ avaliacao.id }}</a></td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.ano_avaliacao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.mes_avaliacao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.unidade }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.setor }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.servidor }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.funcao }}</td>
                    <td>{{ avaliacao.encaminhamento_avaliacao_cigt.despacho_cigt.plano_trabalho.manifestacao.posto_trabalho }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock%}