{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}
<div class="content">

    <h2 class="title is-2">Manifestação de Interesse </h2>
    
    {% if not manifestacoes_servidor %}
    <div class="notification is-warning">Cadastre uma Manifestação de Interesse para prosseguir!</div>
    {% endif %}
    
    <h3 class="title is-4">Manifestações Cadastradas</h3>
    
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Unidade</th>
                <th>Setor</th>
                <th>Servidor</th>
                <th>Posto de Trabalho</th>
                <th>Aprovado</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for manifestacao in manifestacoes_servidor %}
                <tr>
                    <td>{{ manifestacao.id }}</td>
                    <td>{{ manifestacao.lotacao_servidor.posto_trabalho.setor.unidade }}</td>
                    <td>{{ manifestacao.lotacao_servidor.posto_trabalho.setor.nome }}</td>
                    <td>{{ manifestacao.lotacao_servidor.servidor.user.nome }}</td>
                    <td>{{ manifestacao.lotacao_servidor.posto_trabalho.posto }}</td>
                    <td>{% if manifestacao.aprovado_chefia == 'aprovado' %} <a href={% url "webapp:download_docx" "manifestacao" manifestacao.pk %}>SIM</a>{% elif manifestacao.aprovado_chefia == 'reprovado' %}NÃO{% else %}PENDENTE{% endif %}</td>
                    <td>{% if manifestacao.aprovado_chefia %}[X]{% else %}<a href="{% url 'webapp:manifestacao_interesse_delete' manifestacao.pk %}">deletar</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'webapp:manifestacao_interesse_create' %}" class="button">[+] Cadastrar Nova Manifestação de Interesse</a>
    
</div>

{% endblock %}