{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}

{% if tipo_form == 'create' %}

<h2 class="title is-2">Criar Manifestacão de Interesse</h2>

{% elif tipo_form == 'edit' %}

<h2 class="title is-2">Editar Manifestacão de Interesse</h2>

{{ request.user.name }}

{% endif %}

<form method="POST">
    {% csrf_token %}

    <div class="field">
        <label class="label">Servidor</label>
        <div class="control">
            <div class="select">{{ form.servidor }}</div>
        </div>
    </div>

    <div class="field">
        <label class="label">Unidade</label>
        <div class="control">
            <div class="select">{{ form.unidade }}</div>
        </div>
    </div>

    <div class="field">
        <label class="label">Setor</label>
        <div class="control">
            <div class="select">{{ form.setor }}</div>
        </div>
    </div>

    <div class="field">
        <label for="" class="label">Função</label>
        <div class="control">
            {{ form.funcao }}
        </div>
    </div>

    <div class="field">
        <label class="label">Posto de Trabalho</label>
        <div class="control">
            <div class="select">{{ form.posto_trabalho }}</div>
        </div>
    </div>

    <div class="field">
        <label class="label">Chefia Imediata</label>
        <div class="control">
            <div class="select">{{ form.chefia_imediata }}</div>
        </div>
    </div>

    <div class="field">
        <label for="" class="label">Função da Chefia</label>
        <div class="control">
            {{ form.funcao_chefia }}
        </div>
    </div>

    <div class="field">
        <label class="label">Posto de Trabalho da Chefia</label>
        <div class="control">
            <div class="select">{{ form.posto_trabalho_chefia }}</div>
        </div>
    </div>

    
    <div class="field">
        <div class="control">
            <button class="button is-light">Salvar</button>
        </div>
    </div>

</form>

{% endblock%}