{% extends 'webapp/base/base.html' %}

{% block title%}Home{% endblock%}

{% block content %}

{% if tipo_form == 'create' %}

<h2>Criar Plano de Trabalho</h2>

{% elif tipo_form == 'edit' %}

<h2>Editar Plano de Trabalho</h2>

{{ request.user.name }}

{% endif %}

<form method="POST">
    {% csrf_token %}
    
    <h3>Plano Trabalho</h3>
    {{ form.as_p }}
    <h4>Período</h4>
    {% if tipo_form == 'create' %}
        {{ periodos_formset }}
    {% elif tipo_form == 'edit' %}
        {% for periodo in periodos_teletrabalho %}
        <p><a href="{% url 'webapp:periodo_teletrabalho' periodo.plano_trabalho_id %}">{{ periodo }}</a> - <a href="{% url 'webapp:periodo_teletrabalho_delete' periodo.pk %}">excluir</a></p>
        {% endfor %}
    {% endif %}

    <h4>Atividades</h4>
    {% if tipo_form == 'create' %}
        {{ atividades_formset }}
    {% elif tipo_form == 'edit' %}
        {% for atividade in atividades_teletrabalho %}
        <p><a href="{% url 'webapp:atividade_teletrabalho' atividade.plano_trabalho_id %}">{{ atividade }}</a>- <a href="{% url 'webapp:atividade_teletrabalho_delete' atividade.pk %}">excluir</a></p>
        {% endfor %}
    {% endif %}

    <input type="submit" value="SALVAR">

</form>

{% endblock%}