{% extends 'webapp/base/base.html' %}

{% load static %}


{% block title%}Home{% endblock%}

{% block content %}

{% if tipo_form == 'create' %}

<h2 class="title is-2">Criar Plano de Trabalho</h2>

{% elif tipo_form == 'edit' %}

<h2 class="title is-2">Editar Plano de Trabalho</h2>

{% endif %}

<form method="POST">
    {% csrf_token %}

    <div class="field">
        <label class="label">Manifestação de Interesse</label>
        <div class="control">
            <div class="select">{{ form.manifestacao }}</div>
        </div>
    </div>

    <div class="field">
        <label class="label">Período de Comparecimento</label>
        <div class="control">
            {{ form.periodo_comparecimento }}
        </div>
    </div>

    <div class="field">
        <label class="label">Período de Acionamento</label>
        <div class="control">
            {{ form.periodo_acionamento }}
        </div>
    </div>

    <div class="field">
        <label class="label">Sistemas</label>
        <div class="control">
          <div class="select is-multiple">{{ form.sistemas }}</div>
        </div>
      </div>

    <h4 class="title is-6">Período(s)</h4>

    <hr>

    {% if tipo_form == 'create' %}
    {{ periodos_formset.management_form }}
    
    <!-- htmx -->

    <div id="periodos">
        {% for form in periodos_formset %}
            <div id="periodo-{{ forloop.counter0 }}">
                <div class="field">
                    <label class="label">
                        Plano de Trabalho
                    </label>
                    {{ form.plano_trabalho }}
                </div>
                <div class="field">
                    <label class="label">Data Inicial</label>
                    {{ form.data_inicio }}
                </div>
    
                <div class="field">
                    <label class="label">Data Final</label>
                    <div class="control">
                    {{ form.data_fim }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <a id="buttonAddPeriodo" hx-get={% url "webapp:htmx_adiciona_periodo" %} hx-target="#periodos" hx-swap="beforeend">Adicionar Período</a>

        
    {% elif tipo_form == 'edit' %}

        <div id="periodos-edit" class="periodos-edit">
            {% for periodo in periodos_teletrabalho %}
                <p><a href="{% url 'webapp:periodo_teletrabalho' periodo.pk %}">{{ periodo }} plano_trabalho_id: {{ periodo.plano_trabalho_id }} período_id: {{ periodo.id}}</a> - <a href="{% url 'webapp:periodo_teletrabalho_delete' periodo.pk %}">excluir</a></p>
            {% endfor %}
        </div>

    <!-- adicionar períodos na edição -->

    <!-- htmx -->

 
        <div class="field">
            {{ form_add_periodo.plano_trabalho }}
        </div>
        <div class="field">
            <label class="label">Data Inicial</label>
            {{ form_add_periodo.data_inicio }}
        </div>

        <div class="field">
            <label class="label">Data Final</label>
            <div class="control">
            {{ form_add_periodo.data_fim }}
            </div>
        </div>

    
    <a id="buttonAddPeriodo" hx-post={% url 'webapp:htmx_adiciona_periodo_edit' plano_trabalho.pk %} hx-target="#periodos-edit" hx-swap="outerHTML">Adicionar Período</a>
    
    {% endif %}


    <hr>

    <h4 class="title is-6">Atividades</h4>
    {% if tipo_form == 'create' %}
        <div id="atividades">
            {{ atividades_formset.management_form }}
            {% for form in atividades_formset %}
                <div id="atividade-{{ forloop.counter0 }}">
                    <div class="field">
                        <label class="label">Atividade</label>
                        <div class="control">
                            <div class="select">{{ form.atividade }}</div>
                        </div>
                    </div>
        
                    <div class="field">
                        <label for="" class="label">Meta Qualitativa</label>
                        <div class="control">
                            {{ form.meta_qualitativa }}
                        </div>
                    </div>
        
                    <div class="field">
                        <label class="label">Tipo de Meta Quantitativa</label>
                        <div class="control">
                            <div class="select">{{ form.tipo_meta_quantitativa }}</div>
                        </div>
                    </div>
        
                    <div class="field">
                        <label for="" class="label">Meta Quantitativa</label>
                        <div class="control">
                            {{ form.meta_quantitativa }}
                        </div>
                    </div>
            </div>
            
            {% endfor %}
        </div>

    <a id="buttonAddAtividade" hx-get={% url "webapp:htmx_adiciona_atividade" %} hx-target="#atividades" hx-swap="beforeend">Adicionar Atividade</a>


    {% elif tipo_form == 'edit' %}
        {% for atividade in atividades_teletrabalho %}
        <p><a href="{% url 'webapp:atividade_teletrabalho' atividade.pk %}">{{ atividade }} - período_id: {{ atividade.periodo_id }} - atividade_id {{ atividade.id }}</a> - <a href="{% url 'webapp:atividade_teletrabalho_delete' atividade.pk %}">excluir</a></p>
        {% endfor %}
    {% endif %}

    <hr>

    <div class="field">
        <div class="control">
            <button class="button is-light" onclick="reorderItems()">Salvar</button>
        </div>
    </div>

</form>

{% endblock%}

{% block js%}

    <script
        src="{% static 'webapp/js/main.js' %}"
        defer
    ></script>

{% endblock js %}